<% for(error of errorMsg){ %>
  <% if(error != "") { %>
    <p class="color">
      <%= error.msg %>
      <button class="x" type="button" name="button" role="button">x</button>
    </p>
  <% } %>
<% } %>
