<%- include("partials/header") -%>

<!-- Showcase -->
<section class="bg-dark header p-5">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between text-center text-sm-start">
      <div class="py-3">
        <h1>Become a <span class="text-warning">Web Developer</span></h1>
        <p class="lead">
          We focus on teaching our students the fundamentals of the latestand greatest technologies to prepare them for their first dev role
        </p>
        <button class="btn btn-primary btn-lg mt-3 mb-5" type="button" name="button" data-bs-toggle="modal" data-bs-target="#enroll">Start Your Enrollment</button>
      </div>
      <img class="img-fluid d-none d-sm-block" src="https://www.frontendbootcampdemo.com/img/showcase.svg" alt="" width="50%">
    </div>
  </div>
</section>

<!-- Newsletter -->
<section class="bg-primary p-5">
  <div class="container">
    <div class="row g-3">
      <div class="col-md-6">
        <h3 class="">Sign Up to Our News Letter</h3>
      </div>
      <div class="col-md-6">
        <form class="" action="" method="post">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter email" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-dark" type="submit" id="button-addon2">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="text-center p-5">
  <div class="container">
    <div class="row g-4">
      <!-- column 1 -->
      <div class="col-md-4">
        <div class="card bg-dark">
          <div class="card-body">
            <div class="h1 mb-3">
              <i class="bi bi-laptop"></i>
            </div>
            <h3 class="card-title mb-3">Virtual</h3>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, quas quidem possimus dolorum esse eligendi?
            </p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <!-- column 2 -->
      <div class="col-md-4">
        <div class="card bg-secondary">
          <div class="card-body">
            <div class="h1 mb-3">
              <i class="bi bi-person-square"></i>
            </div>
            <h3 class="card-title mb-3">Hybrid</h3>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, quas quidem possimus dolorum esse eligendi?
            </p>
            <a href="#" class="btn btn-dark">Read More</a>
          </div>
        </div>
      </div>
      <!-- column 3 -->
      <div class="col-md-4">
        <div class="card bg-dark">
          <div class="card-body">
            <div class="h1 mb-3">
              <i class="bi bi-people"></i>
            </div>
            <h3 class="card-title mb-3">In Person</h3>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, quas quidem possimus dolorum esse eligendi?
            </p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- What you'll learn -->
<section class="p-5">
  <div class="container">
    <div class="row g-5 align-items-center justify-content-between">
      <div class="col-md-6">
        <img class="img-fluid" src="https://www.frontendbootcampdemo.com/img/fundamentals.svg" alt="">
      </div>
      <div class="col-md-6 text-dark">
        <h2>learn the Fundamentals</h2>
        <p class="lead">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Similique deleniti possimus magnam corporis ratione facere!
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque reiciendis eius autem eveniet mollitia, at asperiores suscipit quae similique laboriosam iste minus placeat odit velit quos, nulla architecto amet voluptates?
        </p>
        <a href="#" class="btn btn-light mt-4">
          <i class="bi bi-chevron-right"></i>
          Read More
        </a>
      </div>
    </div>
  </div>
</section>

<section class="p-5 bg-dark">
  <div class="container">
    <div class="row g-5 align-items-center justify-content-between">
      <div class="col-md-6">
        <h2>learn React</h2>
        <p class="lead">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Similique deleniti possimus magnam corporis ratione facere!
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque reiciendis eius autem eveniet mollitia, at asperiores suscipit quae similique laboriosam iste minus placeat odit velit quos, nulla architecto amet voluptates?
        </p>
        <a href="#" class="btn btn-light mt-4">
          <i class="bi bi-chevron-right"></i>
          Read More
        </a>
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="https://www.frontendbootcampdemo.com/img/react.svg" alt="">
      </div>
    </div>
  </div>
</section>

<!-- FAQ -->

<section class="p-5" style="color: #000;">
  <div class="container">
    <h2 class="text-center mb-3">Frequently Asked Questions</h2>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Accordion Item #1
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam beatae fuga animi distinctio perspiciatis adipisci velit maiores totam tempora accusamus modi explicabo accusantium consequatur, praesentium rem quisquam molestias at quos vero. Officiis ad velit doloremque at. Dignissimos praesentium necessitatibus natus corrupti cum consequatur aliquam! Minima molestias iure quam distinctio velit.
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Accordion Item #2
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam beatae fuga animi distinctio perspiciatis adipisci velit maiores totam tempora accusamus modi explicabo accusantium consequatur, praesentium rem quisquam molestias at quos vero. Officiis ad velit doloremque at. Dignissimos praesentium necessitatibus natus corrupti cum consequatur aliquam! Minima molestias iure quam distinctio velit.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Accordion Item #3
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam beatae fuga animi distinctio perspiciatis adipisci velit maiores totam tempora accusamus modi explicabo accusantium consequatur, praesentium rem quisquam molestias at quos vero. Officiis ad velit doloremque at. Dignissimos praesentium necessitatibus natus corrupti cum consequatur aliquam! Minima molestias iure quam distinctio velit.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Accordion Item #4
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam beatae fuga animi distinctio perspiciatis adipisci velit maiores totam tempora accusamus modi explicabo accusantium consequatur, praesentium rem quisquam molestias at quos vero. Officiis ad velit doloremque at. Dignissimos praesentium necessitatibus natus corrupti cum consequatur aliquam! Minima molestias iure quam distinctio velit.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            Accordion Item #5
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam beatae fuga animi distinctio perspiciatis adipisci velit maiores totam tempora accusamus modi explicabo accusantium consequatur, praesentium rem quisquam molestias at quos vero. Officiis ad velit doloremque at. Dignissimos praesentium necessitatibus natus corrupti cum consequatur aliquam! Minima molestias iure quam distinctio velit.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Meet Our Instructors -->
<section class="p-5 bg-primary text-center">
  <div class="container">
    <h2 class="mb-2">
      Our Instructors
    </h2>
    <p class="mb-3 lead">Our instructors all have 5+ years working as a web developer in the industry</p>
    <div class="row g-5">
      <!-- column 1 -->
      <div class="col-lg-3 col-md-6 text-dark">
        <div class="card">
          <div class="card-body">
            <img src="https://randomuser.me/api/portraits/men/3.jpg" class="rounded-circle mb-3" alt="">
            <h3 class="card-title mb-3">John Doe</h3>
            <p class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda accusamus nobis sed cupiditate iusto? Quibusdam.</p>
            <a href="#"><i class="bi bi-facebook text-dark px-1"></i></a>
            <a href="#"><i class="bi bi-twitter text-dark px-1"></i></a>
            <a href="#"><i class="bi bi-instagram text-dark px-1"></i></a>
            <a href="#"><i class="bi bi-linkedin text-dark px-1"></i></a>
          </div>
        </div>
      </div>
      <!-- column 2 -->
      <div class="col-lg-3 col-md-6 text-dark">
        <div class="card">
          <div class="card-body">
            <img src="https://randomuser.me/api/portraits/women/3.jpg" class="rounded-circle mb-3" alt="">
            <h3 class="card-title mb-3">Jane Doe</h3>
            <p class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda accusamus nobis sed cupiditate iusto? Quibusdam.</p>
            <a href="#"><i class="bi bi-facebook text-dark px-1"></i></a>
            <a href="#"><i class="bi bi-twitter text-dark px-1"></i></a>
            <a href="#"><i class="bi bi-instagram text-dark px-1"></i></a>
            <a href="#"><i class="bi bi-linkedin text-dark px-1"></i></a>
          </div>
        </div>
      </div>
      <!-- column 3 -->
      <div class="col-lg-3 col-md-6 text-dark">
        <div class="card">
          <div class="card-body">
            <img src="https://randomuser.me/api/portraits/men/5.jpg" class="rounded-circle mb-3" alt="">
            <h3 class="card-title mb-3">Steven Smith</h3>
            <p class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda accusamus nobis sed cupiditate iusto? Quibusdam.</p>
            <a href="#"><i class="bi bi-facebook text-dark px-1"></i></a>
            <a href="#"><i class="bi bi-twitter text-dark px-1"></i></a>
            <a href="#"><i class="bi bi-instagram text-dark px-1"></i></a>
            <a href="#"><i class="bi bi-linkedin text-dark px-1"></i></a>
          </div>
        </div>
      </div>
      <!-- column 4 -->
      <div class="col-lg-3 col-md-6 text-dark">
        <div class="card">
          <div class="card-body">
            <img src="https://randomuser.me/api/portraits/women/8.jpg" class="rounded-circle mb-3" alt="">
            <h3 class="card-title mb-3">Sara Smith</h3>
            <p class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda accusamus nobis sed cupiditate iusto? Quibusdam.</p>
            <a href="#"><i class="bi bi-facebook text-dark px-1"></i></a>
            <a href="#"><i class="bi bi-twitter text-dark px-1"></i></a>
            <a href="#"><i class="bi bi-instagram text-dark px-1"></i></a>
            <a href="#"><i class="bi bi-linkedin text-dark px-1"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact Us -->
<section class="p-5 text-dark">
  <div class="container">
    <div class="row g-4 align-content-center justify-content-between">
      <div class="col-md-6">
        <h2 class="mb-4 text-center">Contact Info</h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="fw-bold">Location: </span>ISTH Irrua, Edo</li>
          <li class="list-group-item"><span class="fw-bold">Enrollment Phone: </span>(555) 555-5555</li>
          <li class="list-group-item"><span class="fw-bold">Student Phone: </span>(333) 333-3333</li>
          <li class="list-group-item"><span class="fw-bold">Enrollment Email: </span>enroll@frontendbc.test</li>
          <li class="list-group-item"><span class="fw-bold">Student Email: </span>student@frontendbc.test</li>
        </ul>
      </div>
      <div class="col-md-6 d-none d-md-block">
        <div id='map' style='width: 100%; height: 100%;'></div>
      </div>
    </div>
  </div>

</section>

<%- include("partials/footer") -%>
